body {
  background: #fcfcfc;
  overflow-x: auto;
  overflow-y: hidden;
}

.lists {
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  right: 0;
  top: 65px;
}

.list, .list-add {
  margin-bottom: 0;
  margin-right: 10px;
  max-height: 100%;
  width: 300px;
}

.list-add.card {
  border-style: dotted;
}

.list-add > .card-body {
  text-align: center;
}

.list-add button {
  margin-top: 100px;
}

.list:last-child {
  margin: 0;
}

.list > .card-body {
  background-color: #fcfcfc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px;
  overflow-y: auto;
}

.task {
  margin-bottom: 8px;
}

.task:last-child {
  margin: 0;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.user {
  align-items: center;;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  cursor: default;
  display: flex;
  font-size: .9rem;
  font-weight: 500;
  height: 35px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  margin-left: -10px;
  justify-content: center;
  width: 35px;
}

.user:hover {
  z-index: 10000 !important;
}